<div class="container-profile" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx">
  <div class="container-header" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <div fxLayout="row" class="col-user-info">
        <img class="rounded-circle" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo Profile">
    </div>
  </div>
  <mat-card fxLayout="column" class="container-card">
    <div class="display-container">
      <div class="display-container-bottom-left">
        <h2>Rogerio Teixeira</h2>
      </div>
    </div>
    <mat-card-content class="display-container" fxLayoutGap="40px" fxLayoutGap.xs="20px" fxLayout="column" fxFlex="grow">

    </mat-card-content>
  </mat-card>
</div>
<!--<mat-card fxLayout="column" class="container-card">
  <div class="display-container">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo Profile">
    <div class="display-container-backdrop"></div>
    <div class="display-container-bottom-left">
      <h2>Rogerio Teixeira</h2>
    </div>
  </div>
  <mat-card-content class="display-container" fxLayoutGap="40px" fxLayoutGap.xs="20px" fxLayout="column" fxFlex="grow">
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <p matLine>
          <span> Rogerio </span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <p matLine>
          <span> Rogerio </span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <p matLine>
          <span> Rogerio </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>-->
