<div class="container-header"></div>
<mat-card fxLayout="column" class="container-card" fxLayoutAlign="start center">
  <div class="profile-image">
    <img class="rounded-circle" [src]="imageUrl" alt="Photo Profile">
  </div>
  <mat-card-content class="display-container" fxLayoutGap="10px" fxLayoutGap.xs="10px" fxLayout="column" fxFlex="grow">
    <div class="profile-info">
      <h1 *ngIf="name">{{name}}</h1>
      <p *ngIf="location">{{location}}</p>
    </div>
    <button mat-raised-button color="primary" (click)="clickUpdate.emit()">Modifica</button>
  </mat-card-content>
</mat-card>

<!--<mat-card fxLayout="column" class="container-card">
  <div class="display-container">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo Profile">
    <div class="display-container-backdrop"></div>
    <div class="display-container-bottom-left">
      <h2>Rogerio Teixeira</h2>
    </div>
  </div>
  <mat-card-content class="display-container" fxLayoutGap="40px" fxLayoutGap.xs="20px" fxLayout="column" fxFlex="grow">
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <p matLine>
          <span> Rogerio </span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <p matLine>
          <span> Rogerio </span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <p matLine>
          <span> Rogerio </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>-->
