<div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="20px">
  <button mat-raised-button color="primary" class="button-social button-social--facebook" type="submit" [disabled]="disabled">accedi con facebook</button>
  <button mat-raised-button color="primary" class="button-social button-social--google" type="submit" [disabled]="disabled">accedi con google</button>
  <button mat-raised-button color="primary" class="button-social button-social--twitter" type="submit" [disabled]="disabled">accedi con twitter</button>
</div>

