<footer>
  <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="1rem" fxLayoutAlign="space-around" [ngStyle.lt-md]="{'padding': '0.5rem 1rem'}"
    class="footer">
    <div fxFlex="0 0 30%">
      <div class="footer-item-list">
        CLIMBING EXPEDITIONS
      </div>
      <ul class="footer-item-list">
        <li>
          <a href="#">Home page</a>
        </li>
        <li>
          <a href="#">Termini e condizioni</a>
        </li>
        <li>
          <a href="#">Privacy Policy e Cookie</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
    <div fxFlex="0 0 30%">
      <div class="footer-item-list">
        CONTATTI
      </div>
      <ul class="footer-item-list">
        <li>
          <a href="#">Tel. 340 6602562</a>
        </li>
        <li>
          <a href="mailto:info@climbingexpeditions.it">Email info@climbingexpeditions.it</a>
        </li>
      </ul>
    </div>
    <div fxFlex ="0 0 30%" >
      <div class="footer-item-list">
        SOCIAL
      </div>
      <div>
        <a href="#">
          <img alt="facebook" src="/assets/images/icon_fb.png">
        </a>
        <a href="#">
          <img alt="istagram" src="/assets/images/icon_in.png">
        </a>
      </div>
    </div>
  </div>
</footer>
<!--
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="footer-item-list">
            CLIMBING EXPEDITIONS
          </div>
          <ul class="footer-item-list">
            <li>
              <a href="#">Home page</a>
            </li>
            <li>
              <a href="#">Termini e condizioni</a>
            </li>
            <li>
              <a href="#">Privacy Policy e Cookie</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="footer-item-list">
            CONTATTI
          </div>
          <ul class="footer-item-list">
            <li>
              <a href="#">Tel. 340 6602562</a>
            </li>
            <li>
              <a href="mailto:info@climbingexpeditions.it">Email info@climbingexpeditions.it</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="footer-item-list">
            SOCIAL
          </div>
          <div>
            <a href="#">
              <img alt="facebook" src="/assets/images/icon_fb.png">
            </a>
            <a href="#">
              <img alt="istagram" src="/assets/images/icon_in.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->