<div fxLayout="column" fxFlexFill>
    <section fxLayout fxFlex="calc(60vh - 56px)" fxLayoutAlign="center center" class="section-background">
      <div class="section-background__content">
        <h1 class="section-background__content__title">CLIMBING EXPEDITIONS</h1>
        <h2 class="section-background__content__subtitle">Un modo semplice e intuitivo per organizzare le tue gite</h2>
        <button mat-raised-button color="primary" class="button-start" >INIZIA ORA</button>
      </div>
    </section>
    <section fxLayout="column" class="section-md">
      <h2 class="section__title text-center">Organizza la tua gita con pochi click</h2>
      <div fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-around">
        <div fxFlex='0 0 30%' class="text-center">
          <h3 class="action-box__title">Trova</h3>
          <div class="action-box__text">
              persone che hanno la tua stessa passione per lo sport
          </div>
        </div>
        <div fxFlex='0 0 30%' class="text-center">
          <h3 class="action-box__title">Organizza</h3>
          <div class="action-box__text">eventi (partita di calcetto, uscita in kitesurfing, corsa al parco,..) in pochissimi step </div>
        </div>
        <div fxFlex='0 0 30%' class="text-center">
          <h3 class="action-box__title">Partecipa</h3>
          <div class="action-box__text">ad eventi in un modo semplice, intelligente e coinvolgente</div>
        </div>
      </div>
    </section>
  </div>

